* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-small {
  width: 1000px;
}

.container {
  width: 1180px;
  margin: auto;
}

.container-large {
  width: 100%;
}

.blue-button {
  background-color: #0061ff;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0.2rem;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0 0.5rem;
}

.nav-list > li {
  padding: 0.5rem 1.2rem;
  font-size: 0.95rem;
}

.start {
  color: white;
}

/* MAIN */

.hero {
  background-color: #b4d0e7;
}

h1 {
  font-size: 4rem;
}
