* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-small {
  width: 1000px;
}

.container {
  width: 1180px;
}

.container-large {
  width: 1920px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  list-style: none;
}
